*{margin: 0;padding: 0;}
input,button,select,option{outline: none;}
a{text-decoration: none;color: #333;}
.highcharts-credits{display: none;}
.page{background-color: #eee;position: relative;padding: 5px;}
.searchInfo{
    width: 96%;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 14px;
}
.searchInfo .btn{margin: 0 0 0 10px;}
.searchInfo .btn input,.searchInfo select{background-color: #eee;border-radius: 3px;border: 1px solid #ccc;padding: 3px 10px;min-width: 80px;}

.viewMain{
    display: flex;
    flex-wrap: wrap;
    margin:5px 0 0;
    justify-content: space-around;
}
.viewMain .chartView{
    width: 48%;
    margin-top: 15px;
    height: 400px;
    background-color: #fff;    
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.viewMain .chartView .head{
    background-color: #eee;
    color: #333;
    padding: 10px 3px;
    font-size: 14px;
    padding-left:15px;
}
.viewMain .chartView .head .active{
    color: rgb(2, 131, 255);
}
.chartView-1 .head a{position: relative;margin-right: 5px;}
.chartView-1 .head a::after{content: '';width: 1px; height: 13px; background-color: #333; position: absolute; top:4px; right: -6px;}
.chartView-1 .head a:last-child::after{height: 0;}


.more1{display: flex;justify-content: space-around;}
.viewMain2 .chartView-1{width: 950px;}

.viewMain2 .chartView-2{width: 310px;}
.charts-flex{display: flex;}
.viewMain2 .chartView-3{width: 96%;}
.viewMain2 .chartView-4{width: 96%;}